@model DynamicResume.ViewModels.ResumeViewModel
@{
    var resume = Model.Resume;
}

@{

}

<div class="container">
    <div class="row">
        <div class="row">
            <h3>@resume.Name</h3>
            <h5 class="fw-bold">@resume.Title</h5>
        </div>
        <div class="row d-flex align-items-center">

            <div class="profileContainer col-4">

                <img src="https://scontent-man2-1.xx.fbcdn.net/v/t39.30808-6/414481247_6960475507393869_467028754447974424_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=FJDxhoWY8hQAX_LdF8U&_nc_ht=scontent-man2-1.xx&oh=00_AfA2x0btrwrsP0e1TUuSKPsEBpTt8Kj2GBI5uNKi2vA9Yw&oe=65EBE945" class="img-thumbnail profileImg" alt="placeholder" />
            </div>
            <div class="col-8">
                <h5 class="fw-bold">About Me</h5>
                <p>@resume.PersonalStatement</p>
                <div class="row">
                    <div class="d-flex justify-content-between flex-wrap">


                        @foreach (string socialLink in Model.ConvertStringToList(resume.SocialLinks))
                        {
                            if (!string.IsNullOrEmpty(socialLink))
                            {
                                string[] links = Model.GetSocialLinks(socialLink);
                                <a class="m-1" href="@links[1]">@links[0]</a>
                            }
                            else
                            {
                                <hr />
                            }
                        }
                        <p class="m-1">Mobile Number: @resume.MobileNum</p>
                        <hr />

                    </div>
                </div>
            </div>


        </div>

        <div class="row container  mt-2">
            <hr />
            <div class="col-5">

                <h5 class="fw-bold">Experience</h5>
                @foreach (var employment in resume.EmploymentHistory)
                {
                    <div class="my-4">
                        <h6 class="mt-3 fw-bold">@employment.JobTitle</h6>
                        <h6>@employment.Company</h6>
                        <p>@employment.EmploymentDuration</p>
                    </div>

                }
            </div>
            <div class="col-2">
            </div>
            <div class="col-5">
                <div class="skillsContainer">
                    <h5 class="fw-bold">Key Skills</h5>
                    <div class="col-10">
                        <ul class="listStyle">
                            @foreach (string skill in Model.ConvertStringToList(resume.KeySkills))
                            {
                                <li>@skill</li>
                            }
                        </ul>
                    </div>
                </div>
                <hr />

                <h5 class="fw-bold mb-2">Education</h5>
                @foreach (var education in resume.Education)
                {
                    <div class="my-4">
                        <h6 class="fw-bold">@education.Title</h6>
                        <h6>@education.Establishment</h6>
                        <p>@education.Attended</p>
                    </div>
                }
                <hr />
                <h5 class="fw-bold">Development Projects</h5>
                @foreach (var project in resume.DevelopmentProjects)
                {
                    <div class="my-4">
                        <h6 class="mt-1 fw-bold">@project.Title</h6>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
