@model DynamicResume.ViewModels.EmploymentHistoryViewModel

@{
    var entries = Model.ListOfEmployments;
}
<div class="container">
    <div class="row">
        <h3>Work History</h3>
    </div>
    <div class="row container">
        @foreach (var employment in entries)
        {
            <div class="my-2">
                <h5><strong>@employment.JobTitle</strong></h5>
                <p><strong>@employment.Company</strong></p>
                <p><strong>@employment.EmploymentDuration</strong></p>
                <ul>
                    @foreach (var responsibility in Model.ConvertStringToList(employment.Responsibilities))
                    {
                        <li>@responsibility</li>
                    }

                </ul>

                <p>Manager: @employment.ManagerName</p>
                <p>@employment.ManagerEmail</p>
            </div>
        }
    </div>
</div>